body {
    margin: 0;
    padding: 0;
    background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679510932_bogatyr-club-p-chernii-fon-dlya-editov-krasivo-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    width: 100%;
    height: 188px;
    background-image: url(https://klike.net/uploads/posts/2022-11/1668932411_2.jpg);
}

.users {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px 20px 0 0;
    color: whitesmoke;
}

.users a {
    text-decoration: none;
    color: whitesmoke;
}

.users a:hover:first-of-type {
    text-decoration: overline;
    color:darkslateblue;
}

.users a:hover {
    text-decoration: underline;
    color: brown;
}

.title {
    text-align: center;
    color: whitesmoke;
}

.title h1 {
    margin: 0px 0 15px;;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: whitesmoke;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.menu-language span {
    font-size: 16px;
}

.menu-language svg {
    padding-left: 20px;
    width: 15px;
    height: auto;
    cursor: pointer;
}

.language {
    display: none;
}

.language img {
    width: 30px; 
    height: auto;
    margin-right: 10px; 
}